body {
 font-family: 'Epilogue', sans-serif;
 
}


/*layout and sizing*/

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px; /*adjust the width to auto adjust*/
  margin: 0 auto;
 
  
}

.call-button {
  margin-top: 24px;
  height: 56px;
  width: 219px;
  border: 1px solid #172339;
  border-radius: 5px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  letter-spacing: -0.16px;
  color: #172339;
  background-color: Transparent;

}

.main-top-button {
  height: 56px;
  width: 219px;
  border: none;
  border-radius: 5px;
}

.suite--logo {
margin-top: 25px;
height: 24.8px;
}


.main-top {
  position: relative;
  display: flex;
  flex-direction: row;
}

.phone {
  position:absolute;
  left: 475px;
    
}

.curve {
  position:absolute;
  left: 285px;
}

.main-left {
position:absolute;
    z-index:1;
}

.main-top {
  margin-top: 60px;
}

.main-bottom {
  position: relative;
  margin-top: 470px;
  width: 1109px;
  height: 545px;
  background: #172339;
  border-radius: 15px;
}



.jeremy {
  position:absolute;
  z-index:1;
  left: 65px;
  bottom: 0px;      
}

.blur {
  position:absolute;
  z-index:0;
  top: 90px;


     
}

.main-right-two {
  
  margin-left: 900px;
}

.jeremy-testimonial {
  position: absolute;
  left: 650px;
  top: 70px;
}


.curved-line {
  position: absolute;
  right: 400px;
  top: 100px;
}


/*typography*/

.works {
  font-family: 'Epilogue', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #f3ede7;
}

.it-just {
  font-family: 'Epilogue', sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #f3ede7;
}

.jeremy-paragraph {
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #f3ede7;
}


.jeremy-name-bottom {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f3ede7;

}

.bottom-sig {
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
   color: #f3ede7;

}



.right-headings {
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #49566D;
  letter-spacing: 2.5px;
 
}

.right-numbers {
  color: #172339;
  font-size: 48px;
  font-weight: 700;
  
}


.main-top-heading {
  color: #172339;
  font-family: 'Epilogue', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -1px;
}

.main-top-p {
  color: #49566D;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;

}

.main-top-button {
  background-color: #172339;
  color: #FAF8F6;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  line-height: 32px;

}

